.sampleList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 800px;
  row-gap: 4px;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  &-item {
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
  }
}
